{% extends "layout.html" %}

{% block title %}Add Staff Member{% endblock %}

{% block page %}Add Staff Member{% endblock %}


{% block content %}

<style>
  ::placeholder {
    color: rgba(0, 0, 0, 0.555);
  }
</style>

<div>
  <div>
    <form id="addStaffForm" method="POST" action="/addStaff" style= "border-radius: 25px; border: 2px solid #000000; padding: 155px;  padding-top: 50px; padding-bottom: 50px;">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="StaffID" id="StaffID" name="staffID" type="text" class="validate" style= "color:#000000; border-radius: 35px; height: 25px; border: 2px solid #6d6d6d62; padding: 9px;">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="First Name" name="firstName" id="firstName" type="text" class="validate" style= "color:#000000; border-radius: 35px; height: 25px; border: 2px solid #6d6d6d62; padding: 9px;">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Surname" name="lastName" id="lastName" type="text" class="validate" style= "color:#000000; border-radius: 35px; height: 25px; border: 2px solid #6d6d6d62; padding: 9px;">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Email Address" name="email" id="email" type="email" class="validate" style= "color:#000000; border-radius: 35px; height: 25px; border: 2px solid #6d6d6d62; padding: 9px;">
        </div>
      </div>

      <div class="row">
        <label for="courses">Select Courses:</label>
        <select name="courses" multiple>
          {% for course in courses %}
            <option value="{{course.course_id}}">{{course.course_id}} - {{course.course_name}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="row">
        <label for="type">Choose a Type:</label>
          <select name="type" >
            <option value="Lecturer">Lecturer</option>
            <option value="Instructor">Instructor</option>
            <option value="Tutor">Tutor</option>
            <option value="Teaching Assistant">Teaching Assistant</option>
            <option value="Marker">Marker</option>
          </select>
      </div>
      
      <div class="row">
        <label for="status">Choose the status:</label>
          <select name="status" >
            <option value="Full Time">Full Time</option>
            <option value="Part Time">Part Time</option>
          </select>
      </div>

      <div class="row justify-content">
        <div class="col s4 card-action">
          <input type="submit" class="btn btn-secondary" value="Add Staff" style = "border-radius: 12px;">
        </div>
      </div>

    </form>
  </div>

</div>
{% endblock %}
