{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block page %}Login{% endblock %}

{% block content %}

    
    
    <form id="loginPage" method="POST" action="/login" style= "border-radius: 25px; border: 2px solid #000000; padding: 155px;  padding-top: 50px; padding-bottom: 50px;">
        <h2>Login</h2>
        <div>
            <label for="staff_id">Staff ID:</label>
            <input type="text" id="staff_id" name="staff_id" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <input type="submit" class="btn btn-secondary" value="Login">
    </form>
{% endblock %}
